
body {
	color: black;
	font-family: 'Open Sans', sans-serif;
  text-align:center;
	margin: 0;
  text-decoration:none;
	}

a {
	color: #FFF;
}
h1{
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	padding:1em;
	text-align: center;
	color: black;
}
h2{
	font-family: 'Playfair Display', serif;
border-top: .5px solid;
margin-top: 2px;
padding-top: 2px;
	font-size: 24px;

}
h3{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
}
h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

#container {
	margin: 0 auto;
}
.events{
	background: url(https://i.postimg.cc/TPRvzqfK/events.jpg);
	background-size: cover;
background-position: bottom;
width: 100%;
height: 116px;
}

nav {
	background-color: #660033;
  width:100%;
  background-size:cover;
  background-position:center;
padding: 2em 0 20em 0;
}
nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
  background-color: #660033;
	}

nav ul li {
	display:inline-block;
	background-color: #660033;
  text-decoration:none;
	}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

body {
  background:#ebebeb;
  text-align:center;
  font-family: Helvetica,Arial,sans-serif;
}

.calendar {
  max-width:900px;
  margin:0 auto;
  text-align:left;
  padding:0 20px;
}
.row { clear:both; }
.row:after {
  content:' ';
  display:block;
  clear:both;
}
.col-2 aside {
  width:20%;
  float:left;
}
.col-2 article {
  width:80%;
  float:left;
}

.eventKey div {
  display:inline-block;
  padding:4px;
  margin:4px 4px 4px 0;
  float:left;
  clear:both;
}
.monthYear { margin:0px 0 10px 0; padding:0 0 0 8px;}
.monthYear span { display:none; }
.days li {
  color: black;
  border-bottom:1px solid black;
  padding:4px 4px 4px 8px;
  text-transform:uppercase;
  font-size:13px;
}
.days li, .dates li {
  float:left;
  width:14.28%;
  position:relative;
  box-sizing:border-box;
}
.dates {
  border-right:1px solid black;
}
.dates:after, .days:after {
  content:'';
  display:block;
  clear:both;
}
.dates li {
  border:1px solid black;
  border-width:0 0 1px 1px;
  height:90px;
  margin:0;
  background:white;
}
.dateWrapper {
  max-height:90px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  transition: max-height 1s;
}
.dateWrapper.open {
  max-height:600px;
  z-index:10;
  padding-bottom:25px;
  background:white;
  border-bottom:1px solid black;
  box-shadow:0 0 10px black;
}
.dates li.fade {
  color: black;
  opacity:0.6;
}
.date, .dates li a {
  display:block;
  padding:4px;
  text-align:right;
  font-size:13px;
}
.dates li a, .eventKey div {
  text-align:left;
  text-decoration:none;
  font-size: 12px;
  color: white;
  border-radius:2px;
}
.dates li a, .dates li div {
  margin:4px 2px 0;
}
.dates li a.expand {
  display:block;
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 26%,rgba(0,0,0,0.50) 100%);
  position:absolute;
  bottom:0px;
  left:0;
  width:100%;
  text-align:left;
  padding:4px 0 0 0;
  margin:0;
  border-radius:0;
}
.dates li a.expand.open {

}
.dates li a.expand span {
  display:inline-block;
  float:right;
  padding:4px 8px;
  transition: transform 1s ease-in-out;

}
.dates li a.expand.open span {
	transform: rotate(45deg);
  color: white;
}

.dates li a b {
  font-weight:bold;
}
.multidayHolder {
  position:relative;
  height:20px;
  padding:0;
  margin:4px 0 0 0;
}
.dates li a.multidayEvent {
  position: absolute;
  top:0;
  left:0;
  z-index:100;
  display:none;
  margin:0;
}
.multidayEvent span, .holiday span  { display:none;}
.dates li a.length-2 {width:196%; display:block; }
.dates li a.length-3 {width:301%; display:block;}
.tradeShow, .tradeShow:before { background:#af4a52; color:#fff;}
.meeting, .meeting:before { background:#572339; color:#fff;}
.holiday, .holiday:before { background:#15181d; color:#fff;}
.birthday, .birthday:before { background:#b88c71; color:#fff;}
.calendarNav {
  display:none;
}
@media (max-width: 744px) {
  body {
    background: white;
  }
	.col-2 aside, .col-2 article {
    width:100%;
    float:none;
    clear:both;
  }
	.eventKey div {
    clear:none;
  }
  .monthYear {
    padding:20px 0 20px 23px;
    margin:0;
    border-bottom:1px solid #ccc;
  }
	.monthYear span { display:inline; }
	.days, .dates li, .dates li a.expand { display:none; }
  .dates li.current, .dates li a.multidayEvent, .calendarNav {
   display:block;
   position:static;
   width:auto;
  }
  .multidayHolder {
    height:auto;
  }
  .dates {border:none;}
  .dates li.current {
    width:100%;
    height:auto;
    border:none;
    position: relative;
    display:block;
  }
  .dateWrapper { width:100%; height:auto; position:static; max-height:1000px;}
  .date {
    text-align:left;
    position:absolute;
    top:-46px;
    left:0px;
    font-size:21px;
  }
  .multidayEvent span, .holiday span  {
    position:static;
    margin-top:4px;
    color:#999;
   display:block;
   text-align:left;
  }
  .dates li a {
    background:none;
    color:#333;
    position:relative;
    font-size:14px;
    padding:25px 0 25px 35px;
    margin:5px 0;
    border-bottom:1px solid #999;
    min-height:45px;
  }
  .dates li a:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    position: absolute;
    top: 30%;
    left: 0;
  }
  .dates li a:after  {
    content: '';
    display:block;
    position: absolute;
    top:42%;
    right:20px;
    border:1px solid #999;
    border-width:1px 1px 0 0;
    width:15px;
    height:15px;
    transform: rotate(45deg);
  }
  .dates li a b { display:block; margin-bottom:4px; }
  .calendarNav {
    padding:20px 0;
    text-align:center;
  }
  .calendarNav a {
  	clear:both;
    display:inline-block;
    color:#333;
    text-decoration:none;
    padding:6px 10px;
    border-radius:4px;
    background:#d6d6d6;
    border:1px solid #999;
    border-width:0 1px 1px 0;
    margin-right:6px;
    font-size:14px;
  }

}
/*footer*/
img {
	max-width: 100%;
	display: block;
}

.hero-image {
position: relative;
overflow: hidden;
height: 400px;
}

	.hero-image:after {
  	position: absolute;
    overflow: hidden;
  	width: 100%;
  	background-color: rgba(0,0,0,.5);
  	top: 0;
  	left: 0;
  	display: block;
		content: "";
}
